@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #eaeaea url(../images/bg.png);
	width: 100%;
	margin: 0 auto;
}

*:focus {
	outline: none;
}

header h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 70px;
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}

footer {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 50px auto;
	color: #a6a6a6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
	padding-bottom: 20px;
}

footer a {
	color: inherit;
}