@charset "utf-8";

#toolbar {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*width: 250px; */
	position: absolute;
	z-index: 1;
	left: 400px;
}

#toolbar .handle {
	display: none;
	position: absolute;
	top: -10px;
	left: -20px;

	margin: 0;

	/* debug */
	background-color: red;
}

#toolbar #formTools {
	background: #000;
	color: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);

	margin: 0;
	padding: 1px;
	list-style: none;
}

#toolbar #formTools li {
	margin: 0;
	padding: 5px;
	border: solid 1px #DDD;
	text-align: center;
	margin-top: 1px;
}
#toolbar #formTools li:first-child {
	margin-top: 0;
}

#formEditor {
	background: #fff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
	overflow: auto;
	padding-bottom: 7px;
}


#formEditor .ui-sortable-placeholder {
	background-color: #FFC !important;
	outline: 1px dashed #ddd !important;
}

#formEditor .handle {
	position: absolute;
	display: none;
	z-index: 2;

	/* debug */
	background-color: #d9d;
	width: 45px;
	height: 45px;
}

#formEditor .module .handle {
	margin: -11px 0 0 -11px;
}