@charset "utf-8";

@media screen {
	#formEditor {
		padding: 10px 0;
	}

	#formEditor h1,
	#formEditor h2,
	#formEditor h3,
	#formEditor h4,
	#formEditor h5,
	#formEditor h6,
	#formEditor p,
	#formEditor .module {
		margin: 0 10px 20px 10px;
	}

	#formEditor .module {
		padding: 10px;
		outline: solid 1px #CCC;
		background-color: #DDD;
	}

	#formEditor [class*="span-"] h1,
	#formEditor [class*="span-"] h2,
	#formEditor [class*="span-"] h3,
	#formEditor [class*="span-"] h4,
	#formEditor [class*="span-"] h5,
	#formEditor [class*="span-"] h6,
	#formEditor [class*="span-"] p,
	#formEditor [class*="span-"] .module,
	#formEditor .module h1,
	#formEditor .module h2,
	#formEditor .module h3,
	#formEditor .module h4,
	#formEditor .module h5,
	#formEditor .module h6,
	#formEditor .module p {
		margin: 0 0 20px 0;
	}

	#formEditor > *:last-child,
	#formEditor .module > *:last-child {
		margin-bottom: 0;
	}

	.span-1, .span-2, .span-3, .span-4, .span-5, .span-6,
	.span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		padding: 0;
	}

	.clear {
		clear: both;
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		margin: 0;
	}
}

@media screen and ( max-width: 768px ) {
	#formEditor { width: 100%; }
}

@media screen and ( min-width: 768px ) and ( max-width: 960px ) {
	#formEditor { width: 768px; margin: 0 auto; }

	#formEditor .span-1 { width: 44px; }
	#formEditor .span-1.module { width: 24px; }
	#formEditor .span-2 { width: 108px; }
	#formEditor .span-2.module { width: 88px; }
	#formEditor .span-3 { width: 172px; }
	#formEditor .span-3.module { width: 152px; }
	#formEditor .span-4 { width: 236px; }
	#formEditor .span-4.module { width: 216px; }
	#formEditor .span-5 { width: 300px; }
	#formEditor .span-5.module { width: 280px; }
	#formEditor .span-6 { width: 364px; }
	#formEditor .span-6.module { width: 344px; }
	#formEditor .span-7 { width: 428px; }
	#formEditor .span-7.module { width: 408px; }
	#formEditor .span-8 { width: 492px; }
	#formEditor .span-8.module { width: 472px; }
	#formEditor .span-9 { width: 556px; }
	#formEditor .span-9.module { width: 536px; }
	#formEditor .span-10 { width: 620px; }
	#formEditor .span-10.module { width: 600px; }
	#formEditor .span-11 { width: 684px; }
	#formEditor .span-11.module { width: 664px; }
	#formEditor .span-12 { width: 748px; }
	#formEditor .span-12.module { width: 728px; }
}

@media screen and ( min-width: 960px ) and ( max-width: 1200px ) {
	#formEditor { width: 960px; margin: 0 auto; }

	#formEditor .span-1 { width: 60px; }
	#formEditor .span-1.module { width: 40px; }
	#formEditor .span-2 { width: 140px; }
	#formEditor .span-2.module { width: 120px; }
	#formEditor .span-3 { width: 220px; }
	#formEditor .span-3.module { width: 200px; }
	#formEditor .span-4 { width: 300px; }
	#formEditor .span-4.module { width: 280px; }
	#formEditor .span-5 { width: 380px; }
	#formEditor .span-5.module { width: 360px; }
	#formEditor .span-6 { width: 460px; }
	#formEditor .span-6.module { width: 440px; }
	#formEditor .span-7 { width: 540px; }
	#formEditor .span-7.module { width: 520px; }
	#formEditor .span-8 { width: 620px; }
	#formEditor .span-8.module { width: 600px; }
	#formEditor .span-9 { width: 700px; }
	#formEditor .span-9.module { width: 680px; }
	#formEditor .span-10 { width: 780px; }
	#formEditor .span-10.module { width: 760px; }
	#formEditor .span-11 { width: 860px; }
	#formEditor .span-11.module { width: 840px; }
	#formEditor .span-12 { width: 940px; }
	#formEditor .span-12.module { width: 920px; }
}

@media screen and ( min-width: 1200px ) {
	#formEditor { width: 1200px; margin: 0 auto; }

	#formEditor .span-1 { width: 80px; }
	#formEditor .span-1.module { width: 60px; }
	#formEditor .span-2 { width: 180px; }
	#formEditor .span-2.module { width: 160px; }
	#formEditor .span-3 { width: 280px; }
	#formEditor .span-3.module { width: 260px; }
	#formEditor .span-4 { width: 380px; }
	#formEditor .span-4.module { width: 360px; }
	#formEditor .span-5 { width: 480px; }
	#formEditor .span-5.module { width: 460px; }
	#formEditor .span-6 { width: 580px; }
	#formEditor .span-6.module { width: 560px; }
	#formEditor .span-7 { width: 680px; }
	#formEditor .span-7.module { width: 660px; }
	#formEditor .span-8 { width: 780px; }
	#formEditor .span-8.module { width: 760px; }
	#formEditor .span-9 { width: 880px; }
	#formEditor .span-9.module { width: 860px; }
	#formEditor .span-10 { width: 980px; }
	#formEditor .span-10.module { width: 960px; }
	#formEditor .span-11 { width: 1080px; }
	#formEditor .span-11.module { width: 1060px; }
	#formEditor .span-12 { width: 1180px; }
	#formEditor .span-12.module { width: 1160px; }
}